<div class="container">
  <div id="registered_apps_wrapper">
    <%= render "registered_applications/registered_apps" %>
  </div>

  <div class="add_website">
    <p><%= link_to 'Add Website', new_registered_application_path %></p>
  </div>
</div>